[Desktop Entry]
Type=Application
Name=TrainerBridge
GenericName=Proton Trainer Launcher
Comment=Launch Windows trainers alongside Steam games running through Proton
Exec=TrainerBridge
Icon=trainerbridge
Terminal=false
Categories=Game;Utility;
Keywords=Steam;Proton;Wine;Trainer;Game;
StartupNotify=true
StartupWMClass=TrainerBridge
